@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Source+Sans+Pro:400,600,700');

body {
  padding-top:70px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  margin: 0;
}
.navbar {
  border-radius: 0;
  border: 0;
}

.jumbotron {
  padding-left: 300px;
} 
footer .navbar-default {
  background: transparent;
}
.page {
  padding: 50px 0;
}

.page h2 {
  text-align: center;
  margin-bottom: 30px;
}

