@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Source+Sans+Pro:400,600,700');

body {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: relative;
  background-color: #C23D31;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  margin: 0;
}



/** Header Nav **/
header .navbar {
  padding: 10px 0;
  transition: all .5s ease-out;
}

header .navbar-default {
  background-color:#7B241C;
}
header .navbar-default .navbar-nav a {
  color: #fff;
  padding: 15px 10px;
}
header .navbar-default .navbar-nav a:hover {
  color: yellow;
  font-weight: bold;
}
header .navbar-default .navbar-nav .active a {
  font-weight: 700;
  color:yellow ;
  background: transparent;
  border-bottom: 4px solid green;
}
header .navbar-default .navbar-nav .active a:hover {
  color: green;
  background: transparent;
  text-shadow: none;
}

/** Navbar Brand**/


header .navbar-brand h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 22px;
  color:#fff;
  
}
header .navbar-brand span.subhead {
  display: block;
  font-family: "Roboto Slab", serif;
  font-size: .7em;
  font-weight: 200;
}
/**  Navbar Toggle **/

header .navbar-toggle {
  background-color: red;
}

header .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

/**  nav inbody **/
header .inbody {
  background:rgba(104,73,49,.9);
}
header .navbar.inbody {
  padding-bottom: 2px;
}
header .inbody .navbar-brand {
  background-size: 43px;
  background-position: top left;
  margin-top: 5px;
  padding-bottom: 0;
  margin-left: 10px;
}

header .inbody .navbar-brand h1 {
  font-size: 1.5em;
  padding-left: 38px;
}

header .inbody .navbar-brand span.subhead {
  display: none;
}
/**  Carousel Fade **/

.carousel.fade {
  opacity: 1;
}

.carousel.fade .item {
  transition: opacity ease-out .7s;
  left: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block;
}

.carousel.fade .item:first-child {
  top: auto;
  opacity: 0;
  position: relative;
}

.carousel.fade .item.active {
  opacity: 1;
}

.carousel-control {
  opacity: 0;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

#featured .item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}


/**  Page **/
.page {
  padding: 50px 0;
}

.page h2 {
  text-align: center;
  margin-bottom: 30px;
}


/**About Page**/
#about {
  color: white;
  text-align: center;
  background-image: linear-gradient(to bottom, #7B241C,#C23D31);
}


/**video Page**/
#video{
   background-color: black;
   color: #fff;
}
.embed-responsive{
  width: 70%;
  height: 50%;
  background-position: center; 
  background-repeat: no-repeat;
  margin-left: 250px;
  height: 200px;
 }

/**Calendar Page**/
#cal{
background-image: url(../images/tmr.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 600px;

}
.calendar{
  color:black;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.btn-calendar{
  border:2px solid;
  border-color: #737773;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 5px 20px;
  background-color: transparent;
  font-weight: bold;
  color:black;
}
h3 {
  text-align: center;
}



/**Join Page**/
#join{
  background-image: url(../images/fire2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  color:#fff;
  font-weight: bold;
}
.btn-join{
  border:2px solid;
  border-color:#fff;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 5px 20px;
  background-color: transparent;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}


.fb-body{
  color:#fff;
  font-weight:bold;
  font-size: 1.2em;
  padding-left: 150px;
}
.church-body{
  color:#fff;
  font-weight:bold;
  font-size: 1.2em;
}
a {
  color: #fff;
}
a:hover{
  color: #fff;
  text-decoration: none;
}



/**Eagle Page**/
#eagle{
 background-image: url(../images/eagle.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
#eagle h2 {
  color: #fff;
}
table {
    border-collapse: collapse;
    width: 80%;
}
th, td {
    text-align: center;
    padding: 8px;
    color: #fff;
    font-size: 
}
td{
   color:#fff;
   font-weight: bold;
   font-size: 1.5em;
}
.td2{
  color:black ;
}



/** Footer Nav **/
footer{
  background: #586D74;
  color: white;
  font-size: .8em;
  padding: 10px 0 15px 0;
  text-align: center;
}
footer a{
  color:#fff;
}


